body {
  background: #0a0a0a;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  margin-top: 50px;
}

input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background: #111;
  color: white;
  border: 1px solid #00f0ff;
}

button {
  width: 100%;
  padding: 10px;
  background: #00f0ff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#console {
  margin-top: 20px;
  font-size: 14px;
  color: #00f0ff;
}
